<div class="container-full">

    <div class="row px-2 align-item-center pt-2" *ngIf="!doctor">
        <div class="col-lg-9 col-12 d-flex flex-lg-row flex-column justify-content-sm-start align-item-center">
            <div class="d-flex align-item-lg-center align-item-start justify-content-start"
                style="align-items: center;">
                <span>
                    <button class="border-0 bg-transparent p-0" (click)="navigateBack()">
                        <i class="ri-arrow-left-line fs-4 td-color"></i>
                    </button>
                </span>
                <span class="fs-4 ps-2">Add Employee</span>

            </div>

        </div>

        <!-- <button (click)="test()">Test</button> -->

        <div class="col-3 d-flex justify-content-end">
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-success rounded-3 px-lg-5" (click)="saveApiCall()">
                        Save
                    </button>
                </div>
            </div>
        </div>

    </div>

    <div class="row g-2 justify-content-between">

        <!-- STAFF DETAILS SECTION  -->
        <div class="col-lg-6 col-12 p-3"  *ngIf="!doctor">
            <div class="row border rounded-3 bg-white">
                <div class="col-12 pt-2 tabsNavigation d-flex">
                    <form [formGroup]="baseForm" class="">
                        <div class="container-full pt-2 pb-3 px-3">

                            <div class="row">
                                <div class="col-12">

                                    <div class="row mb-2">
                                        <div class="col-12 fs-5 fw-light td-color border-bottom pb-2">
                                            Personal & Contact Details
                                        </div>
                                    </div>


                                    <!-- staff name , gender, title  -->
                                    <div class="row mb-3">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                            <div class="row">
                                                <div class="col-12">
                                                    <span>Staff Name & Gender <span style="color:red">*</span></span>
                                                </div>
                                                <div class="col-12">
                                                    <div class="row g-0">

                                                        <!-- TITLE SELECT -->

                                                        <!-- PATIENT NAME INPUT  -->
                                                        <div class="col-8">
                                                            <app-input [formSubmitted]="submitted"
                                                                formControlName="name" [applyAutoFocus]="true"
                                                                classVal="form-control rounded-0 rounded-start fw-light"
                                                                requiredMessage="Enter name" [spellcheck]="false"
                                                                (onValueChanged)="formatString($event, 'name')"
                                                                [removeLabel]="true" placeHolder="Enter name"
                                                                [inputValue]="baseForm.value.name"></app-input>
                                                        </div>

                                                        <!-- GENDER SELECT  -->
                                                        <div class="col-2">
                                                            <select formControlName="gender"
                                                                aria-label="gender input with select button" id="gender"
                                                                class="form-select bg-soft-primary rounded-0 rounded-end"
                                                                (change)="changeGender($event)"
                                                                aria-label="Text input with select button">
                                                                <option disabled>
                                                                    <small> Select gender</small>
                                                                </option>
                                                                <ng-container *ngFor="let gender of genders">
                                                                    <option [value]="gender.id" *ngIf="gender.is_active"
                                                                        [selected]="baseForm.value.gender === gender.name">
                                                                        {{gender.name}}</option>
                                                                </ng-container>
                                                            </select>
                                                            <!-- <div *ngIf="baseForm.get('gender')!.invalid" class="text-danger">
                                                                    Gender is required
                                                                </div> -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <!-- mobile number and email address  -->
                                    <div class="row g-2">

                                        <div class="col-lg-5 col-7">
                                            <!-- MOBILE NUMBER  -->
                                            <div class="row mb-3">
                                                <div class="col-12">Mobile Number <span class="text-danger">*</span>
                                                </div>
                                                <div class="col-12">
                                                    <app-input [inputLength]="10" [formSubmitted]="submitted"
                                                        formControlName="mobile_number" [removeLabel]="true"
                                                        placeHolder="Enter Number"
                                                        [applyAllowNumbersOnly]="true"></app-input>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-5">
                                            <div class="row">
                                                <div class="col-12">Date of Birth </div>
                                                <div class="col-12">
                                                    <app-datepicker formControlName="date_of_birth"
                                                        datePickerFormat="Y-m-d"
                                                        placeHolder="Select DOB"></app-datepicker>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6 col-12" *ngIf="false">
                                            <!-- EMAIL  -->
                                            <div class="row">
                                                <div class="col-12">Email </div>
                                                <div class="col-12">
                                                    <app-input [formSubmitted]="submitted" formControlName="email"
                                                        [removeLabel]="true"
                                                        placeHolder="Enter Email Address"></app-input>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <!-- email  -->
                                    <div class="row mb-3">
                                        <div class="col-12">Email </div>
                                        <div class="col-9">
                                            <app-input [formSubmitted]="submitted" formControlName="email"
                                                [removeLabel]="true"
                                                placeHolder="Enter Email Address"></app-input>
                                        </div>
                                    </div>


                                    <div class="row mb-2">
                                        <div class="col-lg-6 col-12">
                                            <!-- profile pciture -->
                                            <div class="row align-items-end mb-3">
                                                <div class="col-12">
                                                    Profile Picture
                                                </div>
                                                <div class="col-12">
                                                    <div class="row g-2">
                                                        <div class="col-12 fw-light" *ngIf="!baseForm.value.profile_pic">
                                                            <input name="logo" type="file" class="form-control"
                                                                accept="image/png, image/gif, image/jpeg"
                                                                (change)="ProfileChanged($event)">
                                                            <small>Maximum Width 5000px, Maxium Height 5000px</small>
                                                        </div>
                                                        <div class="col-5">
                                                            <button name="removeBtn" *ngIf="baseForm.value.profile_pic"
                                                                (click)="openXl(viewImage, 'xl', baseForm.value.profile_pic)"
                                                                class="btn btn-soft-primary w-100 border-primary rounded-3">View</button>
                                                        </div>
                                                        <div class="col-5">
                                                            <button name="removeBtn" *ngIf="baseForm.value.profile_pic"
                                                                (click)="clearLogo(false)"
                                                                class="btn btn-soft-danger w-100 border-danger rounded-3">Remove</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-12">
                                            <!-- signature -->
                                            <div class="row align-items-end mb-3">
                                                <div class="col-12">
                                                    Signature
                                                </div>
                                                <div class="col-12">
                                                    <div class="row g-2">
                                                        <div class="col-12 fw-light" *ngIf="!baseForm.value.signature">
                                                            <input name="logo" type="file" class="form-control"
                                                                accept="image/png, image/gif, image/jpeg"
                                                                (change)="onFileChanged($event)">
                                                            <small>Maximum Width 500px, Maxium Height 500px</small>
                                                        </div>
                                                        <div class="col-5">
                                                            <button name="removeBtn" *ngIf="baseForm.value.signature"
                                                                (click)="openXl(viewImage, 'lg',baseForm.value.signature)"
                                                                class="btn btn-soft-primary w-100 border-primary rounded-3">View</button>
                                                        </div>
                                                        <div class="col-5">
                                                            <button name="removeBtn" *ngIf="baseForm.value.signature"
                                                                (click)="clearLogo(true)"
                                                                class="btn btn-soft-danger w-100 border-danger rounded-3">Remove</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mb-2">
                                        <div class="col-12 fs-5 fw-light td-color border-bottom pb-2">
                                            Job Details
                                        </div>
                                    </div>

                                    <!-- role, department  -->
                                    <div class="row g-2">

                                        <div class="col-7">
                                            <div class="row mb-3">
                                                <div class="col-12">
                                                    Role <span class="text-danger">*</span>
                                                </div>
                                                <div class="col-12">
                                                    <app-select [selectItems]="roles" [selectBindLabel]="'name'"
                                                     [formSubmitted]="submitted" (onSelectionChanged)="changeRole()"
                                                        formControlName="role" placeHolder="Select Role"></app-select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-5">
                                            <div class="col-12">Department </div>
                                            <div class="col-12">
                                                <app-select formControlName="department" [selectItems]="departments"
                                                    [selectBindLabel]="'name'"
                                                    placeHolder="Select Department"></app-select>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- employment type  -->
                                    <div class="row mb-3 g-2">
                                        <div class="col-lg-6 col-12">
                                            <div class="col-12">Employment type </div>
                                            <div class="col-12">
                                                <app-select formControlName="employement_type"
                                                    [selectItems]="employmentTypes" [selectBindLabel]="'name'"
                                                    placeHolder="Select Employment type"></app-select>
                                            </div>
                                        </div>

                                        <div class="col-lg-6 col-12">
                                            <div class="col-12">Shift </div>
                                            <div class="col-12">
                                                <app-select formControlName="shift" [selectItems]="shifts"
                                                    [selectBindLabel]="'name'" placeHolder="Select Shift"></app-select>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- branch -->
                                     <div class="row" *ngIf="organization && false">
                                        <div class="col-12">
                                            Select Branch <span class="text-danger">*</span>
                                        </div>
                                        <div class="col-12">
                                            <app-datatable>
                                                <ng-container class="tableheader">
                                                    <th>
                                                        <app-checkbox [showLabel]="false" activeText="" inactiveText="" classVal=""
                                                        (onCheckboxValueChanged)="selectAllBranches($event)"></app-checkbox>
                                                    </th>
                                                    <th>Branch</th>
                                                </ng-container>
                                                <ng-container class="tablebody">
                                                    <tr *ngFor="let item of organization.addresses">
                                                        <td class="py-1">
                                                            <app-checkbox [showLabel]="false" activeText="" inactiveText="" [checkboxValue]="is_branched(item.id)"
                                                                (onCheckboxValueChanged)="addOrRemoveBranches($event, item.id)" classVal=""></app-checkbox>
                                                        </td>
                                                        <td>{{item.address}}</td>
                                                    </tr>

                                                </ng-container>
                                            </app-datatable>
                                        </div>
                                     </div>


                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>


        <div [class.col-lg-6]="!doctor" [class.p-3]="!doctor" class="col-12">
            <div class="row p-2 mb-3 border rounded-3 bg-white">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-between align-items-center">
                            <ul ngbNav #nav="ngbNav" class="nav-tabs-custom-transparent">
                                <li ngbNavItem>
                                  <button ngbNavLink class="fs-5">Access</button>
                                  <ng-template ngbNavContent>
                                    <div class="row">
                               
                                        <div class="row pt-3">
                                            <div class="col-12 pb-5">
                                                <app-datatable>
                                                    <ng-container class="tableheader">
                                                        <th>Section</th>
                                                        <th>
                                                            <div class="d-flex flex-row">
                                                                <app-checkbox
                                                                    [ngbTooltip]="is_super_admin() ? 'Super Admins Have All The Access' : !selectAll ? 'Select All Permissons' : 'Remove All Permissions'"
                                                                    (onCheckboxValueChanged)="selectAllPermissions()"
                                                                    classVal=""
                                                                    [checkboxValue]="accessList && accessList.length == menusList.length"
                                                                    activeText="" inactiveText=""
                                                                    [inputDisabled]="is_super_admin()"
                                                                    [showLabel]="false"></app-checkbox>
                                                                Action
                                                            </div>
                                                        </th>
                                                    </ng-container>
        
                                                    <ng-container class="tablebody">
                                                        <tr *ngFor="let item of menusList">
                                                            <td class="py-1 fs-5 fw-medium">
                                                                {{item.label}}
                                                            </td>
                                                            <td>
                                                                <app-checkbox activeText="" inactiveText=""
                                                                    [ngbTooltip]="is_super_admin() ? 'Super Admin Has All The Access' : ''"
                                                                    (onCheckboxValueChanged)="addRemoveCheck($event, item.id)"
                                                                    [checkboxValue]="accessList && accessList.includes(item.id)"
                                                                    [inputDisabled]="is_super_admin()"
                                                                    classVal="" [showLabel]="false"></app-checkbox>
                                                            </td>
                                                        </tr>
                                                    </ng-container>
                                                </app-datatable>
                                            </div>
                                        </div>



                                    </div>
                                  </ng-template>
                                </li>
                                <li ngbNavItem>
                                  <button ngbNavLink class="fs-5">User Permissions</button>
                                  <ng-template ngbNavContent>

                                    <div class="row pt-3">
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-12 mb-3">

                                                    
                                                    <app-datatable>
                                                        <ng-container class="tableheader">
                                                            <th>
                                                                <!-- Section -->
                                                                Patient's Section Permissions
                                                            </th>
                                                            <th>
                                                                <div class="d-flex flex-row">
                                                                    <app-checkbox
                                                                       
                                                                        (onCheckboxValueChanged)="checkAllUserPermissions($event)"
                                                                        classVal="" [checkboxValue]="permissions && checkedAll()"
                                                                        activeText="" inactiveText=""
                                                                        [showLabel]="false"></app-checkbox>
                                                                    Action
                                                                </div>
                                                            </th>
                                                        </ng-container>

                                                        <ng-container class="tablebody"  *ngFor="let item of patients_page_permissions">
                                                            <tr>
                                                                <td class="py-1 fs-5 fw-medium">
                                                                    {{ item.name }}
                                                                </td>
                                                                <td>
                                                                    <div class="d-flex gap-2 align-items-center">
                                                                        <app-checkbox 
                                                                        [checkboxValue]="permissions && permissions?.includes(item.id)"
                                                                          activeText="" 
                                                                          inactiveText=""
                                                                          classVal=""
                                                                          (onCheckboxValueChanged)="addRemoveCheckUserPermissions($event, item.id)"
                                                                          [showLabel]="false"></app-checkbox>
                                                                    </div>
                                                                  </td>
                                                        
                                                            </tr>

                                                            <tr class="bg-light-blue" *ngIf="item.name == 'Discount' && permissions && permissions?.includes(item.id)">
                                                                <!-- <td class="text-end">
                                                                    <small class="text-muted">Enter Discount Number</small>
                                                                </td> -->
                                                                <td colspan="2">
                                                                    <div class="d-flex flex-row align-items-center justify-content-center gap-2" >
                                                                        <div>
                                                                            <small class="text-muted">Enter Discount Limit</small>
                                                                        </div>
                                                                        <div class="w-25">
                                                                            <input class="form-control fw-bold rounded-3 shadow" (input)="enterDiscount($event)" [value]="permission_discount">
                                                                        </div>
                                                                        <span class="fw-bold fs-5">%</span>
                                                                    </div>
                                                                </td>
                                                               
                                                            </tr>
                                                        
                                                        </ng-container>
                                                    </app-datatable>
                                                </div>




                                                <div class="col-12 mb-3">

                                                    
                                                    <app-datatable>
                                                        <ng-container class="tableheader">
                                                            <th>
                                                                <!-- Section -->
                                                                Lab Technician's Section Permissions
                                                            </th>
                                                            <th>
                                                                <div class="d-flex flex-row">
                                                                    <!-- <app-checkbox
                                                                        (onCheckboxValueChanged)="checkAllUserPermissions($event)"
                                                                        classVal="" [checkboxValue]="permissions && permissions.length == 11 "
                                                                        activeText="" inactiveText=""
                                                                        [showLabel]="false"></app-checkbox> -->
                                                                    Action
                                                                </div>
                                                            </th>
                                                        </ng-container>

                                                        <ng-container class="tablebody"  *ngFor="let item of lab_tech_permissions">
                                                            <tr>
                                                                <td class="py-1 fs-5 fw-medium">
                                                                    {{ item.name }}
                                                                </td>
                                                                <td>
                                                                    <div class="d-flex gap-2 align-items-center">
                                                                        <app-checkbox 
                                                                        [checkboxValue]="permissions && permissions?.includes(item.id)"
                                                                          activeText="" 
                                                                          inactiveText=""
                                                                          classVal=""
                                                                          (onCheckboxValueChanged)="addRemoveCheckUserPermissions($event, item.id)"
                                                                          [showLabel]="false"></app-checkbox>
                                                                    </div>
                                                                  </td>
                                                            </tr>
                                                        
                                                        </ng-container>
                                                    </app-datatable>
                                                </div>



                                                <div class="col-12 mb-3">

                                                    
                                                    <app-datatable>
                                                        <ng-container class="tableheader">
                                                            <th>
                                                                <!-- Section -->
                                                                Transcriptor's Section Permissions
                                                            </th>
                                                            <th>
                                                                <div class="d-flex flex-row">
                                                                    Action
                                                                </div>
                                                            </th>
                                                        </ng-container>

                                                        <ng-container class="tablebody"  *ngFor="let item of radio_permissions">
                                                            <tr>
                                                                <td class="py-1 fs-5 fw-medium">
                                                                    {{ item.name }}
                                                                </td>
                                                                <td>
                                                                    <div class="d-flex gap-2 align-items-center">
                                                                        <app-checkbox 
                                                                        [checkboxValue]="permissions && permissions?.includes(item.id)"
                                                                          activeText="" 
                                                                          inactiveText=""
                                                                          classVal=""
                                                                          (onCheckboxValueChanged)="addRemoveCheckUserPermissions($event, item.id)"
                                                                          [showLabel]="false"></app-checkbox>
                                                                    </div>
                                                                  </td>
                                                            </tr>
                                                        
                                                        </ng-container>
                                                    </app-datatable>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                  </ng-template>
                                </li>

                                <li ngbNavItem>
                                    <button ngbNavLink class="fs-5">Branch <span *ngIf="false">({{selectedBranches.length}})</span></button>
                                    <ng-template ngbNavContent>
                                     <!-- branch -->
                                     <div class="row pt-3" *ngIf="organization">
                                        <!-- <div class="col-12">
                                            Select Branch <span class="text-danger">*</span>
                                        </div> -->
                                        <div class="col-12">
                                            <app-datatable>
                                                <ng-container class="tableheader">
                                                    <th>
                                                        <app-checkbox [showLabel]="false" activeText="" inactiveText="" classVal=""
                                                        (onCheckboxValueChanged)="selectAllBranches($event)" [checkboxValue]="selectedBranches.length == organization?.addresses.length || is_super_admin()" [inputDisabled]="is_super_admin()"></app-checkbox>
                                                    </th>
                                                    <th>Branch</th>
                                                </ng-container>
                                                <ng-container class="tablebody">
                                                    <tr *ngFor="let item of organization.addresses">
                                                        <td class="py-1">
                                                            <app-checkbox [showLabel]="false" activeText="" inactiveText="" [checkboxValue]="is_branched(item.id) || is_super_admin()" [inputDisabled]="is_super_admin()"
                                                                (onCheckboxValueChanged)="addOrRemoveBranches($event, item.id)" classVal=""></app-checkbox>
                                                        </td>
                                                        <td>{{item.address}}</td>
                                                    </tr>

                                                </ng-container>
                                            </app-datatable>
                                        </div>
                                     </div>
                                    </ng-template>
                                </li>
                              </ul>

                              <div class="fs-5 pe-3">
                                <app-checkbox [showLabel]="false" inactiveText="Login" labelClass="fw-medium" 
                                (onCheckboxValueChanged)="toggleLogin_access('can_login', $event)"
                                activeText="Login" [checkboxValue]="baseForm.get('can_login')?.value"
                                [inputDisabled]="is_super_admin()" ngbTooltip="{{is_super_admin() ? 'Can`t Disable Super Admin Access. Kindly Change the role and try again.' : ''}}"></app-checkbox>
                              </div>
                        </div>

                        <div class="col-12">
                            <div [ngbNavOutlet]="nav"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


















<ng-template #viewImage let-modal>
    <div class="modal-header py-3 px-3 bg-soft-primary border-bottom d-flex justify-content-between align-items-center">
        <!-- <span class="modal-title fs-5" id="modal-basic-title">Prescription</span> -->
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="container-full">
            <!-- <img style="height: 400px; width: 400px; object-fit: contain;" 
         [src]="baseForm.value.prescription_attach ? baseForm.value.prescription_attach : ''"> -->

            <div class="row justify-content-center">
                <div class="col-12 d-flex justify-content-center"
                    style="height: 500px; width: 500px; object-fit: cover;">
                    <img [src]="picture">
                </div>
            </div>
        </div>
    </div>
</ng-template>