.input-box-icon {
    font-size: 14px;
    position: absolute;
    top: 25px;
    right: 28px;
    width: 12px;
    height: 12px;
    display: flex;
    align-items: center;
    vertical-align: middle;
    opacity: 0.5;
    margin-top: -22px;
}

.input-box-icon:hover {
    opacity: 1;
    color:red;
}

.input-box-icon:before,
.input-box-icon:after {
    position: absolute;
    top: 0;
    left: 15px;
    content: ' ';
    height: 12px;
    width: 2px;
    background-color: gray;
}

.input-box-icon:before {
    transform: rotate(45deg);
}

.input-box-icon:after {
    transform: rotate(-45deg);
}


.datePickerIcon {
    font-size: 14px;
    position: absolute;
    // top: 1;
    right: 32px;
    width: 12px;
    height: 12px;
    display: flex;
    align-items: center;
    vertical-align: middle;
    color:#000;
    opacity: 1;
    // margin-top: -22px;
}

// .datePickerIcon:hover {
//     opacity: 1;
//     color:black;
// }



