.goBack {
    color:rgba(0, 0, 0, 0.536);
    transition: color 0.3s ease; /* Add a smooth transition for the color change */
    
    &:hover {
      color: black; /* Change the text color to blue on hover */
    }
  }
  
.hover-effect {
    transition: background-color 0.3s ease-in-out;
}

.hover-effect:hover {
  background: linear-gradient(to bottom right, #ebf4ff4c, #c9ddff3b); /* Change the colors as needed */
}

.profile-card {
  position: relative;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;

  .badge {
    position: absolute;
    top: 5px;
    right: 0px;
    background-color: #3a8fff;
    color: #fff;
    padding: 5px 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    /* transform: rotate(45deg); */
    z-index: 1;
    border-radius: 10px 0px 0px 10px;
  }

  &.login-access-false .badge {
      background-color: #f56464; // Red color for inactive state
  }

  &.login-access-true .badge {
      background-color: #36c9a7; // Green color for active state
  }

  .profile-info {
      display: flex;
      gap: 10px;
      align-items: center;
  }

  .profile-picture {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      overflow: hidden;
      background: #f0f0f0;

      img {
          width: 100%;
          height: 100%;
          object-fit: cover;
      }
  }

  .profile-details {
      flex: 1;

      .client-name {
          font-size: 14px;
          font-weight: bold;
          color: #333;
      }

      .profile-role {
          font-size: 12px;
          color: #666;
      }
  }
}




.bg-green{
  background: linear-gradient(0deg, rgb(235 255 236), rgba(0, 255, 13, 0.04), rgba(0, 0, 0, 0));
}

.bg-red{
  background: linear-gradient(0deg, rgb(255 235 235), rgba(0, 255, 13, 0.04), rgba(0, 0, 0, 0));
}

