.input-box {
    position: relative;
}

.input-box-icon {
    font-size: 14px;
    color:red;
    position: absolute;
    // top: 75%; /* Center vertically within the input-box */
    right: 15px; /* Adjust as needed */
    // width: 12px;
    height: 14px;
    display: flex;
    align-items: center;
    vertical-align: middle;
    opacity: 0.5;
    cursor: pointer;
    // transform: translateY(-70%); /* Center vertically within the input-box */
}

.input-box-icon:hover {
    opacity: 1;
}

.input-box-icon:before,
.input-box-icon:after {
    position: absolute;
    top: 0;
    left: 0;
    content: ' ';
    height: 12px;
    width: 2px;
    background-color: gray;
}

.input-box-icon:before {
    transform: rotate(45deg);
}

.input-box-icon:after {
    transform: rotate(-45deg);
}


.close-icon{
    font-size: 14px;
    position: absolute;
    right: 12px; /* Adjust as needed */
    opacity: 0.4;
}

.close-icon:hover {
    opacity: 1;
    color:red;
}

// .form-control-input{
//     border-color:#007eff;
//     box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 0 3px rgba(0,126,255,0.1)
// }