<div class="row mb-3 align-items-center border-bottom pb-2">
    <div class="col-6 fs-4 fw-light td-color ">
        Manage Password
    </div>

    <div class="col-6 fs-5 fw-light td-color d-flex justify-content-end" (click)="resetPasswordSet()">
        <button class="btn-close"></button>
    </div>
</div>
<form [formGroup]="loginForm" >
<div class="row mt-3 align-items-center ">
    <div class="col-12">
        <div class="mb-3 d-flex flex-column gap-1">
            <!-- <div>
                Enter Mobile Number <span class="text-danger">*</span>
            </div> -->
            <div
                class="font-DMSans fw-bold d-flex flex-row align-items-center">
                <div
                    class="indianFlagText ps-2 d-flex flex-row gap-2 align-items-center">
                    <div class="d-flex align-items-center">
                        <img src="assets/images/india-flag-icon.svg"
                            class="rounded-1" height="16" alt="">
                    </div>
                    <div class="fw-bold fs-5">
                        + 91
                    </div>
                </div>
                <div class="flex-grow-1">
                    <app-input [removeLabel]="true" placeHolder=""
                        formControlName="phone_number" [inputDisable]="true"
                       [inputLength]="10" [formSubmitted]="submitted"
                        classVal="form-control rounded-3 fw-bold fs-5"
                        styleVal="padding-left:75px; padding: 0.65rem 0.75rem"
                        [applyAutoFocus]="true"
                        [applyAllowNumbersOnly]="true">
                    </app-input>
                </div>
            </div>
        </div>
    </div>
   
</div>

<div class="row mb-3">
    <div class="col-6 d-flex justify-content-end" *ngIf="otpShow">  
            <button class="btn w-100 btn-success p-2 rounded-3 shadow d-flex justify-content-center flex-row gap-1" (click)="onSubmit()">
                <span *ngIf="inProgress"
                class="spinner-border spinner-border-sm mr-1"></span>
                Send OTP to Set Password
            </button>
    </div>
    <div class="col-4 d-flex justify-content-end" *ngIf="!otpShow">  
        <button class="btn w-100 btn-primary rounded-3 justify-content-center p-2 shadow d-flex flex-row gap-1" (click)="onResendOTP()" [disabled]="resendDisabled">
      
           
            <span *ngIf="inProgress" class="spinner-border spinner-border-sm mr-1"></span>
            Resend OTP <span *ngIf="countdown >= 0"> in {{countdown}}s</span> 
        </button>
</div>
</div>
</form>

<ng-container *ngIf="!otpShow">


<div class="row">
    <div class="col-12 mb-2">
        <span>
            Enter OTP <span class="text-danger">*</span>
        </span>
    </div>
    <div class="col-12">
        <ng-otp-input #ngOtpInput (onInputChange)="onOtpChange($event)"
         [config]="config"></ng-otp-input>
    </div>
</div>




<div class="row mb-3">
    <div class="col-12 mb-2">
        <span>
            Enter New Password <span class="text-danger">*</span>
        </span>
    </div>
    
    <div class="col-12">
        <input [type]="fieldTextType ? 'text' : 'password'" class="form-control rounded-3 fw-bold fs-5"
        style="padding-left:75px; padding: 0.65rem 0.75rem" placeholder="" id="password-input-one" (input)="setPasswordInput($event, true)">
        <button class="btn btn-link position-absolute end-0 pe-3 top-0 text-decoration-none text-dark" type="button" id="password-addon">
            <i class="mdi align-middle fs-4" [ngClass]="{'mdi-eye-off-outline': !fieldTextType, 'mdi-eye-outline': fieldTextType
        }" (click)="toggleFieldTextType(true)"></i></button>
    </div>

    <div class="col-12 text-danger" *ngIf="firstlengthWarn && firstPassword !== ''">
        <small>Password length must be at least 8 characters.</small>
    </div>
    <div class="col-12 text-danger" *ngIf="firstCapitalWarn && firstPassword !== ''">
        <small>Password must contain at least one capital letter.</small>
    </div>
    <div class="col-12 text-danger" *ngIf="firstSpecialCharWarn && firstPassword !== ''">
        <small>Password must contain at least one special character.</small>
    </div>
    <div class="col-12 text-danger" *ngIf="firstDigitWarn && firstPassword !== ''">
        <small>Password must contain at least one digit.</small>
    </div>
    
</div>
<div class="row mb-3">
    <div class="col-12 mb-2">
        <span>
            Confirm Password <span class="text-danger">*</span>
        </span>
    </div>
    
    <div class="col-12">
        <input [type]="secondfieldTextType ? 'text' : 'password'" class="form-control rounded-3 fw-bold fs-5" (input)="setPasswordInput($event, false)"
        style="padding-left:75px; padding: 0.65rem 0.75rem" placeholder="" id="password-input" >
        <button class="btn btn-link position-absolute end-0 pe-3 top-0 text-decoration-none text-dark" type="button" id="password-addon">
            <i class="mdi align-middle fs-4" [ngClass]="{'mdi-eye-off-outline': !secondfieldTextType, 'mdi-eye-outline': secondfieldTextType
        }" (click)="toggleFieldTextType(false)"></i></button>
    </div>
    <div class="col-12 text-danger" *ngIf="firstPassword != secondPassword && secondPassword != ''">
        <small>Passwords do not match</small>
    </div>
</div>


<div class="row">
    <div class="col-4 d-flex justify-content-end" >  
            <button class="btn w-100 btn-success justify-content-center rounded-3 shadow p-2 d-flex flex-row gap-1 text-center" (click)="sendOTPassword()">
                <span *ngIf="SetPasswordLoading"
                class="spinner-border spinner-border-sm mr-1"></span>
                Set Password
            </button>
    </div>
</div>

</ng-container>