RewriteEngine On
RewriteBase /
RewriteRule ^index\.html$ - [L]
RewriteRule ^$ index.html [L]   # Handle base URL for reloading
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]
