<!-- <p>download-patient-receipt works!</p> -->
<div class="container-full" style="height: 100%; background-color: #F8FAFC ; overflow: hidden;">
    <div class="row px-0">
        <div class="col-12 px-0">
            <div class="py-5 d-flex justify-content-center bg-transparent">
                    <img src="assets/images/HealthO.svg" alt="" height="32px">
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col-12 d-flex justify-content-center" id="report">
            
        </div>
    </div>

</div>
