<div class="container-full font-Readex">


    <!-- NAVIGATION AND ADDITIONAL BUTTONS  -->
    <div class="row g-lg-2 g-2 mb-1  align-items-center justify-content-between">
  
      <!-- NAVIGATION  -->
      <div class="col-lg-8 col-md-12 col-sm-12">
        <div class="tabsNavigation d-flex">
          <ul ngbNav #nav="ngbNav" class="nav nav-section-custom mb-1 font-inter" [(activeId)]="activeTab">
            <li [ngbNavItem]="1" (click)="changeTab(1)">
              <a ngbNavLink>Ref. Dr Reports</a>
              <ng-template ngbNavContent>
                <app-referral [analyticShow]="true"></app-referral>
              </ng-template>
            </li>
            <li [ngbNavItem]="4" (click)="changeTab(4)">
              <a ngbNavLink>Cons. Dr Reports</a>
              <ng-template ngbNavContent>
                <app-referral [analyticShow]="true" [doctorId]="2"></app-referral>
              </ng-template>
            </li>
            <li [ngbNavItem]="2" (click)="changeTab(2)">
              <a ngbNavLink>User Collections</a>
              <ng-template ngbNavContent>
                <app-user-collection></app-user-collection>
              </ng-template>
            </li>
            <li [ngbNavItem]="5" (click)="changeTab(5)">
              <a ngbNavLink>Test Wise</a>
              <ng-template ngbNavContent>
                <app-test-wise></app-test-wise>
              </ng-template>
            </li>
            <li [ngbNavItem]="3" (click)="changeTab(3)">
              <a ngbNavLink>Executive Reports</a>
              <ng-template ngbNavContent>
                <app-executives [analyticsShow]="true"></app-executives>
              </ng-template>
            </li>
            
          </ul>
          
        </div>
      </div>
  

    </div>
  
    <div class="row ">
      <div class="col-12">
        <div [ngbNavOutlet]="nav"></div>
      </div>
    </div>
  
  
  </div>