
.inactive {
    color: #0E4EA3;
  }
  
  .inactive:hover {
    color: #000;
  }
  
  .custom-scrollbar {
    overflow: hidden; /* or overflow-y: auto; for vertical scrollbar */
  }

  /* Hide scrollbar for WebKit browsers (Chrome, Safari) */
  .custom-scrollbar::-webkit-scrollbar {
    display: none !important;
  }

  /* Hide scrollbar for Firefox */
  .custom-scrollbar {
    scrollbar-width: 0px; /* Firefox */
  }

  /* Hide scrollbar for Internet Explorer, Edge */
  .custom-scrollbar {
    -ms-overflow-style: none; /* Internet Explorer and Edge */
  }


  .previewofreport {
    user-select: none; 
    display: block; 
    justify-content: center; 
    padding: 10px 0 0 15px; 
    position: absolute; 
    top: 75px; 
    height: 70vh;
}


.previewofreport-full{
  -webkit-user-select: none;
  user-select: none;
  display: flex;
  justify-content: center;
  padding: 0px 0 0 0px;
  position: absolute;
  top: 75px;
  transform: scale(1.5);
  transition: transform 0.3s ease-in-out;
  background-color: rgb(0 0 0 / 54%);
  z-index: 1000;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}