<div class="container-full">
  <div class="row mb-2 justify-content-between">

    <div class="col-7">

      <div class="row">
        <div class="col-lg-3 col-6">
          <app-datepicker [selectToday]="true" datePickerFormat="Y-m-d" labelText="From" [imp]="true" [setMax]="true"
            (dateValueChange)="setStartDate($event); endDate.dateValue = '' " [dateValue]="from_date"
            classVal="form-control font-Readex flatpickr-input rounded-3 fw-semibold"></app-datepicker>
        </div>

        <div class="col-lg-3 col-6">
          <app-datepicker #endDate [selectToday]="true" datePickerFormat="Y-m-d" labelText="To" [imp]="true"
            [setMax]="true" (dateValueChange)="setEndDate($event); " [datePickerMinDate]="max_date"
            [disableDate]="from_date == ''" [ngbTooltip]="from_date == '' ? 'Select Start Date First.' : ''"
            classVal="form-control font-Readex flatpickr-input rounded-3 fw-semibold"></app-datepicker>
        </div>


        <div class="col-6" *ngIf="!pageLoading">
          <div class="row">

            <div class="col-3">
              <div class="row">
                <div class="col-12">
                  Patients
                </div>
                <div class="col-12 d-flex align-items-center">
                  <span class="fw-semibold fs-5">{{pageLoading ? '0' : all_count}}</span>
                </div>
              </div>
            </div>

            <div class="col-4">
              <div class="row">
                <div class="col-12">
                  Total Paid
                </div>
                <div class="col-12 d-flex align-items-center">
                  <span class="fw-semibold fs-5">{{pageLoading ? '' : "₹" + formatIndianNumber(total_paid)}}</span>
                </div>
              </div>
            </div>

            <div class="col-4">
              <div class="row">
                <div class="col-12">
                  Total Due
                </div>
                <div class="col-12 d-flex align-items-center">
                  <span class="fw-semibold fs-5">{{pageLoading ? '' : "₹" + formatIndianNumber(total_due)}}</span>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>

    <ng-container *ngIf="is_referring">
      <div class="col-5" *ngIf="!pageLoading">
        <form [formGroup]="bulkPayment">
          <div class="row align-items-end justify-content-end">



            <div class="col-6">

              <div class="row">
                <div class="col-12 fw-bold">
                  Enter Amount<span class="text-danger ps-1">*</span>
                </div>
                <div class="col-12">

                  <div class="d-flex gap-0 flex-row">
                    <select style="width:90px" formControlName="pay_mode"
                      class="form-select bg-soft-primary rounded-start rounded-0" name="cashSelect"
                      aria-label="Text input with select button">
                      <option disabled>Select Mode</option>
                      <ng-container *ngFor="let mode of payModes">
                        <option [value]="mode.id" *ngIf="mode.is_active">{{mode.name}}</option>
                      </ng-container>
                    </select>
                    <app-num-input [maintainLimit]="true" [limit]="total_due" formControlName="paid_amount"
                      (inputValueChange)="payBill($event)"
                      classVal="form-control rounded-end rounded-0 text-end fs-5 fw-semibold"></app-num-input>
                  </div>


                </div>
              </div>

            </div>

            <div class="col-2">
              <button type="button" (click)="saveBulkPayment()" class="btn btn-success fs-5 rounded-3" [disabled]="bulkSaving">
                <span *ngIf="bulkSaving" class="spinner-border spinner-border-sm mr-1"></span> 
                <span *ngIf="!bulkSaving">Save</span>
              </button>
            </div>



          </div>
        </form>
      </div>
    </ng-container>

  </div>

  <div class="row mb-3" *ngIf="company && company?.partners && company?.partners.length != 0">
    <div class="col-lg-4 col-12">
      <app-select labelText="Select Partner" labelClass="form-label mb-0" placeHolder="Select " (onSelectionChanged)="selectPartner($event)"
      selectBindLabel="name" [selectItems]="company?.partners || []" classVal="fw-semibold ng-select-container border-0  rounded-3"></app-select>
    </div>

    <div class="col-lg-8 col-12">
      <div class="row mb-2">
        <div class="col-lg-3 col-12">
            <app-input labelText="PO" labelClass="form-label mb-1" placeHolder="Enter PO No." labelClass="form-label mb-0"
             [formSubmitted]="submitted" (onValueChanged)="poNum = $event" [inputValue]="poNum"></app-input>
        </div>

        <div class="col-lg-3 col-12">
            <app-input labelText="GRN" labelClass="form-label mb-1" [inputValue]="grnNum" labelClass="form-label mb-0"
            [formSubmitted]="submitted" (onValueChanged)="grnNum = $event"  placeHolder="Enter GRN Number"></app-input>
        </div>

        <div class="col-lg-3 col-12">
          <app-input labelText="Invoice" labelClass="form-label mb-1" [inputValue]="invoiceNum" labelClass="form-label mb-0"
          [formSubmitted]="submitted" (onValueChanged)="invoiceNum = $event"  placeHolder="Enter Invoice Number"></app-input>
      </div>

      </div>
    </div>
  </div>


  <div class="row mb-5">
    <div class="col-12">
      <app-datatable tableClass="table table-striped">
        <ng-container class="tableheader">
          <th class="text-black" style="width: 10px">Sno.</th>
          <th class="sort1">Patients ({{patients?.length|| 0}})</th>
          <th *ngIf="company">Partner</th>
          <th class="sort1">Lab Test</th>
          <th class="sort1 text-end">Cost(₹)</th>
          <th class="sort1 text-end">Discount</th>
          <th class="sort1 text-end">Paid</th>
          <th class="sort1 text-end">Total Due</th>
          <th class="sort1 text-end text-black fs-5 pe-2" *ngIf="is_referring">Paying</th>
        </ng-container>
        <ng-container class="tablebody">
          <tr *ngFor="let patient of patients; let i = index" class="font-Readex td-color">
            <td class="text-black fs-6">{{ (page_number * page_size) - page_size + i + 1 }}.</td>
            <td>
              <div class="d-flex flex-column text-black">
                <small class="fw-medium ">
                  <ngb-highlight [result]="patient.name" [term]="query">
                  </ngb-highlight></small>
                <small class="td-color">{{ timeSrvc.decodeTimestamp(patient.added_on) }}</small>
              </div>
            </td>
            <td *ngIf="company">
              <small>
                <small>{{patient?.partner?.name}}</small>
              </small>
            </td>
            <td>
              <div class="d-flex flex-column">

                <ng-template #popContent>
                  <div [innerHTML]="concatenateShortCodesHTML(patient)"></div>
                </ng-template>

                <small class="text-black fw-medium text-truncate cursor-pointer"
                  [ngbPopover]="popContent"
                  style="max-width: 150px;">{{concatenateShortCodes(patient)}}</small>
                <small>Total: {{ getTestsLength(patient) }}</small>
              </div>
            </td>
            <td class="fw-semibold text-end text-black">
              {{patient.invoice?.total_cost}}
            </td>
            <td class="fw-semibold text-end text-black">
                      {{patient.invoice?.total_discount}}
                    </td>

            <td class="fw-semibold text-end text-black">
              {{patient.invoice?.total_paid}}
            </td>

            <td class="fw-semibold text-end " [class.text-success]="patient.invoice?.total_due == '0.00'" [class.text-black]="patient.invoice?.total_due != '0.00'">
              {{patient.invoice?.total_due == '0.00' ? 'Paid' : patient.invoice?.total_due}}
            </td>

            <td>

              <div class="d-flex justify-content-end">
                <app-num-input *ngIf="is_referring && patient.invoice?.total_due != '0.00'" [maintainLimit]="false"
                styleVal="max-width: 120px" [disableInput]="true"
                  [classVal]="
                    'text-end form-control fw-light rounded-3 py-1 fs-5 fw-semibold shadow' + 
                    (patient?.invoice?.paying === patient?.invoice?.total_due ? ' border-success bg-soft-success' : '')"
                  [inputValue]="patient?.invoice?.paying">
                </app-num-input>
              </div>

            </td>

          </tr>


          <ng-container class="tablebody">
            <tr *ngIf="!patients || patients.length === 0">
              <td colspan="9">
                <div class="td-color fs-6 d-flex align-items-center justify-content-center "
                  style="vertical-align: middle;min-height: 100px;">

                  <span *ngIf="query==='' && !pageLoading">
                    No patients registered on this day.
                  </span>

                  <span *ngIf="pageLoading" class="d-flex flex-column align-items-center py-5">
                    <div class="spinner-border" role="status">
                      <span class="visually-hidden">Loading...</span>
                    </div>
                    <div class="text-black pt-2 fw-light">Loading</div>
                  </span>
                </div>
              </td>
            </tr>
          </ng-container>



          <!-- <tr class="bg-status py-2">
                    <td colspan="3"></td>
                    <td class="fs-5 fw-semibold text-end">
                      {{ formatIndianNumber(getTotalCost()) }}
                    </td>
                    <td class="fs-5 fw-semibold text-end">
                      {{ formatIndianNumber(getTotalDiscount()) }}
                    </td>
                    <td class="fs-5 fw-semibold text-end">
                      {{ formatIndianNumber(getTotalAmount()) }}
                    </td>
                    <td class="fs-5 fw-semibold text-end">
                      {{ formatIndianNumber(getTotalPaid()) }}
                    </td>
                    <td class="fs-5 fw-semibold text-end">
                      {{ formatIndianNumber(getTotalRefund()) }}
                    </td>
                    <td class="fs-5 fw-semibold text-end">
                      {{ formatIndianNumber(getTotalDue()) }}
                    </td>
                  </tr> -->
        </ng-container>



      </app-datatable>
    </div>
  </div>
</div>