/* Custom styles for NgbPagination */
.custom-pagination {
    // font-size: 14px;
    ul.pagination {
      list-style: none;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      
      li.page-item {
        margin: 0 0px;
        color:#000000;
        &.disabled {
          pointer-events: none;
          opacity: 0.5;
        }
        &.active {
          a.page-link {
            color: #ffffff;
            font-weight: 600;
            background-color: #007bff;
            border-color: #007bff;
          }
        }
        a.page-link {
          color:black;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }