<div class="container-full">
  <div class="row g-2">
    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 mb-3 rounded-3">
      <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-section-vertical-custom border rounded-3"
        orientation="vertical" size="sm">

        <li ngbNavItem="labTests">
          <a ngbNavLink class="text-nowrap d-flex justify-content-between rounded-3 fw-light gap-2 align-items-center">
            <span>Laboratory Tests</span>
            <span><i class="bi bi-chevron-right"></i></span>
          </a>
          <ng-template ngbNavContent>
            <ng-container *ngTemplateOutlet="laboratoryTests"></ng-container>
          </ng-template>
        </li>

        <li ngbNavItem="departmentsTmpt">
          <a ngbNavLink class="text-nowrap d-flex justify-content-between rounded-3 fw-light gap-2 align-items-center">
            <span>Departments</span>
            <span><i class="bi bi-chevron-right"></i></span>
          </a>
          <ng-template ngbNavContent>
            <ng-container *ngTemplateOutlet="departmentsTmpt"></ng-container>
          </ng-template>
        </li>

        <li ngbNavItem="discountsTmpt">
          <a ngbNavLink class="text-nowrap d-flex justify-content-between rounded-3 fw-light gap-2 align-items-center">
            <span>Discounts</span>
            <span><i class="bi bi-chevron-right"></i></span>
          </a>
          <ng-template ngbNavContent>
            <ng-container *ngTemplateOutlet="discountsTmpt"></ng-container>
          </ng-template>
        </li>

        <li ngbNavItem="businessTmpt">
          <a ngbNavLink class="text-nowrap d-flex justify-content-between rounded-3 fw-light gap-2 align-items-center">
            <span>Mgmt Settings</span>
            <span><i class="bi bi-chevron-right"></i></span>
          </a>
          <ng-template ngbNavContent>
            <ng-container *ngTemplateOutlet="businessTemplate"></ng-container>
          </ng-template>
        </li>

        <li ngbNavItem="PrintTmpt">
          <a ngbNavLink class="text-nowrap d-flex justify-content-between rounded-3 fw-light gap-2 align-items-center">
            <span>Print Templates</span>
            <span><i class="bi bi-chevron-right"></i></span>
          </a>
          <ng-template ngbNavContent>
            <ng-container *ngTemplateOutlet="PrintTmpt"></ng-container>
          </ng-template>
        </li>

        <li ngbNavItem="recordsDelete">
          <a ngbNavLink class="text-nowrap d-flex justify-content-between rounded-3 fw-light gap-2 align-items-center">
            <span>Records Delete</span>
            <span><i class="bi bi-chevron-right"></i></span>
          </a>
          <ng-template ngbNavContent>
             <ng-container *ngTemplateOutlet="recordsDeleteTmpt"></ng-container>
          </ng-template>
        </li>
        
      </ul>
    </div>
    <div class="col-xl-10 col-lg-10 col-md-8 col-sm-12 ">
      <div [ngbNavOutlet]="nav" class="border rounded-3 bg-white"></div>
    </div>
  </div>

  <ng-template #laboratoryTests>
    <app-global-tests></app-global-tests>
  </ng-template>

  <ng-template #departmentsTmpt>
    <div class="container-fluid">
      <app-department-type></app-department-type>
    </div>

  </ng-template>

  <ng-template #discountsTmpt>
    <app-discount-type></app-discount-type>
  </ng-template>

  <ng-template #PrintTmpt>
    <app-print-templates></app-print-templates>
  </ng-template>

  <ng-template #recordsDeleteTmpt>
    <div class="container-fluid">
       <div class="alert alert-danger" role="alert">
        Dangerous: Once Deleted Data then cannot recover, it's your responsibiity, our company is not responsible
       </div>
       <button class="btn btn-danger" (click)="deleteRecords()">DELETE RECORDS</button>
    </div>
  </ng-template>

  <ng-template #businessTemplate>
    <app-business-setting></app-business-setting>
  </ng-template>

  <ng-template #dummy>
    <div class="p-3">
      <p>Insert options here</p>
    </div>
  </ng-template>
</div>