// 
// _pagination.scss
// 

// Pagination Separated
.pagination-separated {
    .page-item {
        .page-link {
            margin-left: 0.35rem;
            border-radius: $border-radius;
        }
    }
}

// Pagination rounded (Custom)
.pagination-rounded {
    .page-link {
        border-radius: 30px !important;
        margin: 0 3px !important;
        border: none;
        min-width: 32px;
        min-height: 32px;
        text-align: center;
    }

    &.pagination-sm {
        .page-link {
            min-width: 25px;
            min-height: 25px;
        }
    }
}

.pagination-custom {
    .page-link {
        // border-radius: 0px !important;
        // border: 1px solid #ddd;
        // margin: 0 3px !important;
        // border: none;
        // min-width: 32px;
        // min-height: 32px;
        // text-align: center;
        color:black !important;
    }

    &.pagination-sm {
        .page-link {
            min-width: 25px;
            min-height: 25px;
            color:rgb(255, 255, 255) !important;
        }
    }
}

.page-item.active {
    .page-link{
        box-shadow: $element-shadow;
        font-weight: $font-weight-semibold;
    }
}


/* Custom styles for NgbPagination */
.custom-pagination {
    // font-size: 14px;
    ul.pagination {
      list-style: none;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      
      li.page-item {
        margin: 0 0px;
        color:#000000;
        &.disabled {
          pointer-events: none;
          opacity: 0.5;
        }
        &.active {
          a.page-link {
            color: #ffffff;
            font-weight: 600;
            background-color: #007bff;
            border-color: #007bff;
          }
        }
        a.page-link {
          color:black;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  