<form [formGroup]="baseForm" (ngSubmit)="saveApiCall()">
    <div class="container-full">
        <div class="row mb-3">
            <div class="col-lg-9 col-12">
                <app-input labelText="Service Name" labelClass="form-label mb-1" [imp]="true"
                [formSubmitted]="submitted" formControlName="name" placeHolder="Enter name"></app-input>
            </div>

            <div class="col-lg-3 col-12">
                <app-input labelText="Short Code" labelClass="form-label mb-1" placeHolder="" classVal="form-control fw-semibold rounded-3"
                [formSubmitted]="submitted" formControlName="short_code"></app-input>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-lg-8 col-4">
                <app-select labelText="Department" labelClass="form-label mb-1" [imp]="true" [formSubmitted]="submitted"
                [selectItems]="departments" selectBindLabel="name" placeHolder="Select Department" formControlName="department"></app-select>
            </div>     

            <div class="col-lg-4 col-12">
                <app-input labelText="Price" labelClass="form-label mb-1" [imp]="true" [applyAllowNumbersOnly]="true"
                [formSubmitted]="submitted" formControlName="price" placeHolder="Enter Price" classVal="form-control fw-semibold rounded-3"></app-input>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <app-textarea-input labelText="Description" labelClass="form-label mb-1" [imp]="false" [removeCloseIcon]="true"
                placeHolder="Write here" formControlName="description" [rows]="3"></app-textarea-input>
            </div>
        </div>
    </div>
</form>