<!-- <p>noacess works!</p> -->
<div class="container-full " style="height: 100vh">
    <div class="row mb-3">
        <div class="col-12 mt-5 pt-5 text-center fs-4">
            You don't have access to any lab menu.
        </div>
        <div class="col-12 text-center fs-4">
            Please contact Admin
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12 text-center">
            or
        </div>
    </div>

    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <button class="btn btn-primary rounded-3 shadow fs-5" (click)="logout()">
                Log Out
            </button>
        </div>
    </div>
</div>