.NgxEditor__Wrapper {
    border: 0.5px solid rgba(0, 0, 0, 0.09);
    border-radius: 4px;
    // min-height: 300px;
    overflow: scroll;
    resize: vertical;
    background-color: white;
    line-height: 10px;
}