<div class="container-full">

    <!-- search box  -->
    <div class="row g-2 mb-2 justify-content-between">
      <div class="col-lg-8 col-12">
        <div class="row g-2">
          <div class="col-lg-5 col-12">
            <app-searchbox placeholder="Search Tests" [spellcheck]="false" [applyAutoFocus]="false"
              (searchTermChange)="searchTestQuery($event)" [searchTerm]="query"></app-searchbox>
          </div>
          <div class="col-lg-5 col-12">
            <app-select [selectItems]="departments" selectBindLabel="name" placeHolder="Select Department"
              (onSelectionChanged)="selectDepartment($event)"></app-select>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-12 d-flex justify-content-lg-end justify-content-start align-items-center">
        <div class="row">
          <div class="col-4">
            <span class="fw-light">Showing</span>
          </div>
        </div>
        <div class="col-4 px-1">
          <select class="form-select form-select-sm rounded-3 fw-medium fs-6 w-100 font-DMSans" style="width: auto"
            name="pageSize" placeholder="Select" (change)="changeTestPageNumber($event)">
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option [value]="test_all_count">All</option>
          </select>
        </div>
        <div class="col-3">
          <span class="fw-light">Entries</span>
        </div>

      </div>

    </div>

    <!-- Global Tests Table  -->
    <ng-container *ngIf="!is_referring">
      <ng-container *ngTemplateOutlet="outsouring"></ng-container>
    </ng-container>

    <ng-container *ngIf="is_referring">
      <ng-container *ngTemplateOutlet="referringLab"></ng-container>
    </ng-container>

    <div class="row g-3 justify-content-between align-items-center">
      <div class="col-lg-6 col-12 font-DMSans">
        <span class="text-nowrap">Showing {{(test_page_number * test_page_size) - test_page_size + 1}} to
          {{(test_page_number *
          test_page_size) < test_all_count ? test_page_number * test_page_size : test_all_count}} of {{ test_all_count
            ? test_all_count : 0 }} Entries</span>
      </div>

      <div class="col-lg-6 col-12">
        <div class="d-flex justify-content-end font-DMSans">
          <app-pagination [collectionSize]="test_all_count || 0" [page]="test_page_number" [pageSize]="test_page_size"
            (pageChange)="onTestPageChange($event)">
          </app-pagination>

        </div>
      </div>
    </div>

  </div>


  <ng-template #outsouring>
    <div class="row mb-3">
      <div class="col-12">
        <app-datatable>
          <ng-container class="tableheader">
            <th *ngIf="sourcing_term=='initiator='">
              <app-checkbox [showLabel]="false" activeText="" inactiveText="" classVal=""
                (onCheckboxValueChanged)="selectAll($event)"></app-checkbox>
            </th>
            <th>Test Name</th>
            <th>Code</th>
            <th>Price</th>
            <th>Department</th>
            <!-- <th >Price</th> -->
          </ng-container>
          <ng-container class="tablebody">
  
              <tr *ngFor="let test of global_tests" class="td-color" [class.d-none]="!priceSaving  && !testLoading">
                <td *ngIf="sourcing_term=='initiator='">
                    <ng-container *ngIf="tests_included?.includes(test.id)">
                      <span class="text-success">Imported</span>
                    </ng-container>
                    <ng-container *ngIf="!tests_included?.includes(test.id)">
                      <app-checkbox [showLabel]="false" activeText="" (onCheckboxValueChanged)="add_or_remove(test.id)"
                      inactiveText="" classVal="" [inputDisabled]="tests_included?.includes(test.id)"
                      [checkboxValue]="is_test_added(test.id)"></app-checkbox>
                    </ng-container>
                </td>
                <td>
                  <div class="text-black fw-medium py-1">
                    <ngb-highlight [result]="test.name" [term]="query"></ngb-highlight>
                  </div>
    
                </td>
    
                <td>
                  <small>
                    <ngb-highlight [result]="test.short_code" [term]="query"></ngb-highlight>
                  </small>
                </td>
                <td class="text-black fw-medium">
                  {{test.price}}
                </td>
                <td class="text-black">
                  <small>
                    <ngb-highlight [result]="test.department" [term]="query"></ngb-highlight>
                  </small>
                </td>
    
              </tr>
  
              <tr *ngIf="priceSaving  || testLoading">
                <td colspan="5" class="text-center">
                  <div class="text-center w-100 py-5 fw-light fs-5">Loading</div>
                </td>
              </tr>
          </ng-container>
  
          <ng-container class="tablebody" *ngIf="!global_tests || global_tests.length === 0">
            <tr>
              <td colspan="8">
                <div
                  class="text-black fs-6 font-monsterract d-flex flex-row gap-3 py-5 align-items-center justify-content-center "
                  style="vertical-align: middle;min-height: 100px;">
                  <!-- No data found -->
                  <!--                 
                    <small class="inactive">NO DATA FOUND</small>
                    <img src="/assets/images/empty-box.png" style="width:50px"> 
                  -->
                </div>
              </td>
            </tr>
          </ng-container>
  
        </app-datatable>
      </div>
    </div>
  </ng-template>
  
  
  <ng-template #referringLab>
    <div class="row mb-3">
      <div class="col-12">
        <app-datatable>
          <ng-container class="tableheader">
            <th *ngIf="sourcing_term=='initiator='">
              <app-checkbox [showLabel]="false" activeText="" inactiveText="" classVal=""
                (onCheckboxValueChanged)="selectAll($event)"></app-checkbox>
            </th>
            <th>Test Name</th>
            <th>Price</th>
            <th>
              <div class="d-flex flex-column">
                <div>Revised Price (%)</div>
                <div>
                  <app-num-input [maintainLimit]="true" styleVal="max-width: 100px" (inputValueChange)="bulkEnter($event)"
                  classVal="form-control fw-light rounded-3 py-1 fs-5 fw-semibold"></app-num-input>
                </div>
              </div>
            </th>
            <th>Code</th>
            <th>Department</th>
  
          </ng-container>
          <ng-container class="tablebody">
  
              <tr class="td-color"  *ngFor="let test of global_tests">
                <td *ngIf="sourcing_term=='initiator='">
                  <app-checkbox [showLabel]="false" activeText="" (onCheckboxValueChanged)="add_or_remove(test.id)"
                    inactiveText="" classVal="" [inputDisabled]="tests_included?.includes(test.id)"
                    [checkboxValue]="is_test_added(test.id)"></app-checkbox>
                </td>
                <td>
                  <div class="text-black fw-medium">
                    <ngb-highlight [result]="test.name" [term]="query"></ngb-highlight>
                  </div>
                
                </td>
                <td class="text-black fw-medium">
                  {{test.price}}
                </td>
                <td class="text-black fw-medium">
                  <!-- {{test.price}} -->
                  <app-num-input [maintainLimit]="false" styleVal="max-width: 100px"
                    (inputValueChange)="changeRevisedPrice($event, test)" [disableInput]="priceSaving || testLoading"
                    classVal="form-control fw-light rounded-3 py-1 fs-5 fw-semibold"
                    [inputValue]="test.revised_price?.revised_price || ''"></app-num-input>
                </td>
  
                <td>
                  <small>
                    <ngb-highlight [result]="test.short_code" [term]="query"></ngb-highlight>
                  </small>
                </td>
                <td class="text-black">
                  <small>
                    <ngb-highlight [result]="test.department" [term]="query"></ngb-highlight>
                  </small>
                </td>
  
              </tr>
  
          </ng-container>
          <!-- <ng-container class="tablebody" *ngIf="priceSaving || testLoading">
            <tr >
              <td colspan="5" class="text-center">
                <div class="text-center w-100 py-5 fw-light fs-5">Loading..Please Wait...</div>
              </td>
            </tr>
          </ng-container> -->
          <ng-container class="tablebody" *ngIf="!global_tests || global_tests.length === 0">
            <tr>
              <td colspan="8">
                <div
                  class="text-black fs-6 font-monsterract d-flex flex-row gap-3 py-5 align-items-center justify-content-center "
                  style="vertical-align: middle;min-height: 100px;">
                </div>
              </td>
            </tr>
          </ng-container>
        </app-datatable>
      </div>
    </div>
  </ng-template>