<footer class="footer start-0 bg-light-blue">
    <div class="container">
      <div class="row pt-2">
        <div class="col-lg-12 text-center">
          <div class="d-flex align-items-center justify-content-center">
            <span class="d-sm-flex d-none fw-light font-Readex text-muted custom-letter-spacing ">© {{ getCurrentYear() }} HealthoCare
              Pvt. Ltd. All Rights Reserved.</span>
              <small class="d-sm-none d-flex fw-light font-Readex text-muted custom-letter-spacing ">© {{ getCurrentYear() }} HealthoCare
                Pvt. Ltd. All Rights Reserved.</small>
          </div>
        </div>
      </div>
    </div>
  </footer>