    <!-- STATUS SORT  -->
    <div
        class="d-flex flex-row justify-content-between align-items-center py-2 px-3 font-inter border border-0 rounded-pill bg-status">
        <span class="bg-white rounded-pill border border-0 px-3 py-1 active">All</span>
        <span class="px-3 py-1 inactive">Pending</span>
        <span class="px-3 py-1 inactive">Re-test</span>
        <span class="px-3 py-1 inactive">Emergency
            <span class="bg-danger rounded-pill px-1 text-white">2</span>
        </span>
        <span class="px-3 py-1 inactive">Authorized</span>
    </div>
