
.TermsLink {
    text-decoration: none; // Remove default underline
    color: inherit; // Use the parent element's color
    color: rgba(0, 0, 255, 0.563); 
    &:hover {
      text-decoration: underline; // Underline on hover
     // Change text color to blue on hover
    }
  }

  .loader {
    display: block;
    --height-of-loader: 4px;
    --loader-color: #0071e2;
    width: 130px;
    height: var(--height-of-loader);
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.2);
    position: relative;
  }
  
  .loader::before {
    content: "";
    position: absolute;
    background: var(--loader-color);
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 30px;
    animation: moving 1s ease-in-out infinite;
  }
  
  @keyframes moving {
    50% {
      width: 100%;
    }
    100% {
      width: 0;
      right: 0;
      left: unset;
    }
  }
  


  option{
    font-weight: normal;
    display: block;
    min-height: 5em;
    padding: 30px;
    white-space: nowrap;
  }