.bg-status {
    background: rgba(134, 205, 226, 0.15);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.02) inset;
  }
  
  .inactive {
    color: #0E4EA3;
  }
  
  .inactive:hover {
    color: #000;
  }

td, th{
  text-wrap: nowrap;
}



.previewofreport {
  user-select: none; 
  display: block; 
  justify-content: center; 
  padding: 10px 0 0 15px; 
  position: absolute; 
  top: 75px; 
  height: 70vh;
}


.previewofreport-full{
-webkit-user-select: none;
user-select: none;
display: flex;
justify-content: center;
padding: 0px 0 0 0px;
position: absolute;
top: 75px;
transform: scale(1.5);
transition: transform 0.3s ease-in-out;
background-color: rgb(0 0 0 / 54%);
z-index: 1000;
margin: 0 auto;
width: 100%;
height: 100%;
}