.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    // box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    //             0 8px 10px 1px rgba(0, 0, 0, 0.14),
    //             0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    // opacity: 100;
    // background-color: #dae4ff;
    color: white;
    opacity: 0;
    // border: 5px dashed black ;
    // box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    // 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    // 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-animating {
    // transition: transform 250ms cubic-bezier(0, 0, 0.2, 1); // smooth animation
    transition: transform 250ms cubic-bezier(0, 0, 0.2, ); // no animation
  }
  
 
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    // transition: transform 250ms cubic-bezier(0, 0, 0.2, 1); // smooth animation
    transition: transform 250ms cubic-bezier(0, 0, 0.2, ); // no animation
  }
  