.bg-status {
  background: rgba(134, 205, 226, 0.15);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.02) inset;
}

.inactive {
  color: #0E4EA3;
}

.inactive:hover {
  color: #000;
}


td {
  white-space: nowrap;
}

th {
  white-space: nowrap;
}

.bg-modal {
  background: rgba(239, 242, 247, 0.50);
}

.content-center{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.z-100{
  z-index: 1100;
}

/* Style for the dropdown arrow */
.dropdown-arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
}

/* Hide the toggle arrow */
button[ngbDropdownToggle]::after {
  display: none;
}


:host ::ng-deep .ck-editor__editable_inline {
  min-height: 500px;
  height: 500px;
}

.ng-select .ng-select-container {
  color: #333;
  background-color: #fff;
  border-radius: 4px;
   border: 1px solid #ccc !important; 
  min-height: 36px;
  align-items: center;
}


.custom-scrollbar {
  overflow: hidden; /* or overflow-y: auto; for vertical scrollbar */
}

/* Hide scrollbar for WebKit browsers (Chrome, Safari) */
.custom-scrollbar::-webkit-scrollbar {
  display: none !important;
}

/* Hide scrollbar for Firefox */
.custom-scrollbar {
  scrollbar-width: 0px; /* Firefox */
}

/* Hide scrollbar for Internet Explorer, Edge */
.custom-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}


.previewofreport {
  user-select: none; 
  display: block; 
  justify-content: center; 
  padding: 10px 0 0 15px; 
  position: absolute; 
  top: 75px; 
  height: 70vh;
}


.previewofreport-full{
-webkit-user-select: none;
user-select: none;
display: flex;
justify-content: center;
padding: 0px 0 0 0px;
position: absolute;
top: 75px;
transform: scale(1.5);
transition: transform 0.3s ease-in-out;
background-color: rgb(0 0 0 / 54%);
z-index: 1000;
margin: 0 auto;
width: 100%;
height: 100%;
}
 

